.container {
    width: 50%;
    border-radius: 20px;
    background-color: #6151C3;
    margin: auto;
    margin-top: 50px;
}

.search-bar {
    display: flex;
    justify-content: center;
    gap: 14px;
    padding-top: 20px;
}

.search-bar input {
    display: flex;
    width: 300px;
    height: 40px;
    border: none;
    border-radius: 30px;
    padding-left: 20px;
    color: #020202;
    font-size: 16px;
}

.search-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    background: white;
    border-radius: 50px;
    cursor: pointer;
}

.search-icon img{
    width: 15px;
    height: 15px;
}

.search-icon:hover {
    background: rgb(196, 196, 196);
}

.widgets {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    gap: 20px;
    grid-auto-rows: minmax(150px, auto);
    padding: 20px;
    justify-content: center;

}

.main-widget {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-column: 1 / 2;
    grid-row: 1 / 4;
    background-color: white;
    border-radius: 10px;
}

.weather-image img{
    width: 200px;
}

.weather-temp {
    font-size: 64px;
    font-weight: bold;
    color: #6151C3;
    margin-top: 30px;
}

.weather-location {
    color: #333;
    font-size: 36px; 
    margin-top: 10px;
}

.humidity {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-column: 2 / 3;
    grid-row: 1;
    background-color: white;
    border-radius: 10px;
}

.data .humidity-percent {
    font-size: 36px;
    font-weight: bold;
    color: #6151C3; 

}

.data .text {
    color: #333;
    font-size: 18px; 
    text-align: left;
    margin-bottom: 10px;
}

.wind-speed {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-column: 3 / 4;
    grid-row: 1;
    background-color: white;
    border-radius: 10px;
}

.data .wind-rate {
    font-size: 36px;
    font-weight: bold;
    color: #6151C3;
}

.feels-like {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-column: 2 / 3;
    grid-row: 2;
    background-color: white;
    border-radius: 10px;
}

.data .temp {
    font-size: 36px;
    font-weight: bold;
    color: #6151C3;
}

.map {
    display: grid;
    grid-column: 3 / 4;
    grid-row: 2;
    background-color: white;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
}

.map .data .text {
    color: #333;
    font-size: 18px; 
    text-align: left;
}

.temp-map {
    width: 100%;
    height: auto;
    display: block;
}

.sunrise {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-column: 2 / 3;
    grid-row: 3;
    background-color: white;
    border-radius: 10px;
}

.time-sunrise {
    font-size: 32px;
    font-weight: bold;
    color: #6151C3;
}

.sunset {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-column: 3 / 4;
    grid-row: 3;
    background-color: white;
    border-radius: 10px;
}

.time-sunset {
    font-size: 32px;
    font-weight: bold;
    color: #6151C3;
}
